body {
    background-color: teal;
}

.booklist-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration-line: underline;
}

.nav-link {
    font-size: large;
}

.form-inline {
    text-align: center;
}

.button-delete {
    background-color: red;
    border-radius: 10px;

}

.books {
    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
    list-style: none;
    display: grid;
}

